.main {
   
}

#search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
}

header{
    text-align: center;
    font-size: 32px;
}

.weatherInfo{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
}

.basic{
    border: solid 1px;
    text-align: center;
}

.Daily{
    display: flex;
    overflow-x: auto;
    
}

.dayItem{
    border: solid 1px;
    margin-left: 10px;
    
}