body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    
  }

#search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background-color:#4a90e2;
    padding: 20px;
    width: 100%;

  }

  .footer a {
    text-decoration: none;
    font-weight: bold;

  }

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #6e6c6c;
    border-radius: 5px 0 0 5px;
  }

  #search-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }

header{
    text-align: center;
    font-size: 32px;
    padding: 20px;
    background-color: #4a90e2;
    margin-bottom: 20px;
}

.weatherInfo{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
  
}


.basic, .dayItem, .hourItem {
 
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
   max-height: 350px;
  }

  .basic {
    padding: 0px;
  }

  .Daily, .Hourly {
    display: flex;
    overflow-x: auto;
 
  }

  .city-info-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.city-info {
  position: absolute;
  top: 0;
  left: 135px;
  color: #fff; /* Change this to your preferred text color */
  text-shadow: 1px 1px 4px #000; /* This adds a shadow to the text to make it more readable */
}

.city-info-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}





/* Display on small screens*/
@media (max-width: 767px) {
    .weatherInfo {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .basic {
      order: 1;
    }
  
    .Hourly {
      order: 2;
    }
  
    .Daily {
      order: 3;
    }

    .basic, .dayItem, .hourItem {
 
     
     max-height: 250px;
    }
  }
  

